openapi: 3.2.0
info:
  title: Twelvedata Fundamentals API
  version: '1.0'
  description: 'Operations tagged fundamentals across 2 of this provider''s published API definitions: twelvedata-openapi-original.json, twelvedata-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.twelvedata.com/
- url: https://api.twelvedata.com
  description: Twelve Data REST base URL
tags:
- name: Fundamentals
paths:
  /balance_sheet:
    get:
      description: The balance sheet endpoint provides a detailed financial statement for a company, outlining its assets, liabilities, and shareholders' equity. This endpoint returns structured data that includes current and non-current assets, total liabilities, and equity figures, enabling users to assess a company's financial health and stability.
      operationId: GetBalanceSheet
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '32'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '32'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the balance sheet data
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
      - description: 'Begin date for filtering items by fiscal date.

          Returns income statements with fiscal dates on or after this date. Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2024-01-01'
      - description: 'End date for filtering items by fiscal date.

          Returns income statements with fiscal dates on or before this date. Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2024-05-01'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceSheet_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Balance sheet
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Pro plan (individual) and the Venture plan (business) and above. Full access to historical data requires the Ultra plan (individual) or the Enterprise plan (business).
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-badge: High demand
      x-group: Fundamentals
      x-order: '130'
      x-starting-plan: pro,venture
      x-url-hash: balance-sheet
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /balance_sheet/consolidated:
    get:
      description: The balance sheet consolidated endpoint provides a detailed overview of a company's raw balance sheet, including a comprehensive summary of its assets, liabilities, and shareholders' equity. This endpoint is useful for retrieving financial data that reflects the overall financial position of a company, allowing users to access critical information about its financial health and structure.
      operationId: GetBalanceSheetConsolidated
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the balance sheet data.
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
      - description: 'Begin date for filtering items by fiscal date. Returns income statements with fiscal dates on or after this date.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
      - description: 'End date for filtering items by fiscal date. Returns income statements with fiscal dates on or before this date.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceSheetConsolidated_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Balance sheet consolidated
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Ultra plan (individual) and the Enterprise plan (business) and above.
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '140'
      x-starting-plan: ultra,enterprise
      x-url-hash: balance-sheet-consolidated
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /cash_flow:
    get:
      description: The cash flow endpoint provides detailed information on a company's cash flow activities, including the net cash and cash equivalents moving in and out of the business. This data includes operating, investing, and financing cash flows, offering a comprehensive view of the company's liquidity and financial health.
      operationId: GetCashFlow
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the cash flow statements
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
      - description: 'Start date for filtering cash flow statements.

          Only cash flow statements with fiscal dates on or after this date will be included.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2024-01-01'
      - description: 'End date for filtering cash flow statements.

          Only cash flow statements with fiscal dates on or before this date will be included.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2024-12-31'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashFlow_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Cash flow
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Pro plan (individual) and the Venture plan (business) and above. Full access to historical data requires the Ultra plan (individual) or the Enterprise plan (business).
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-badge: High demand
      x-group: Fundamentals
      x-order: '150'
      x-starting-plan: pro,venture
      x-url-hash: cash-flow
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /cash_flow/consolidated:
    get:
      description: The cash flow consolidated endpoint provides raw data on a company's consolidated cash flow, including the net cash and cash equivalents moving in and out of the business. It returns information on operating, investing, and financing activities, helping users track liquidity and financial health over a specified period.
      operationId: GetCashFlowConsolidated
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the cash flow statements
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
      - description: 'Start date for filtering cash flow statements. Only cash flow statements with fiscal dates on or after this date will be included.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2024-01-01'
      - description: 'End date for filtering cash flow statements. Only cash flow statements with fiscal dates on or before this date will be included.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2024-12-31'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashFlowConsolidated_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Cash flow consolidated
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Ultra plan (individual) and the Enterprise plan (business) and above.
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '160'
      x-starting-plan: ultra,enterprise
      x-url-hash: cash-flow-consolidated
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /dividends:
    get:
      description: The dividends endpoint provides historical dividend data for a specified stock, in many cases covering over a decade. It returns information on dividend payouts, including the ex-date, amount, and frequency. This endpoint is ideal for users tracking dividend histories or evaluating the income potential of stocks.
      operationId: GetDividends
      parameters:
      - description: 'Symbol ticker of instrument. For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '25'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '25'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '27'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '27'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '30'
        x-go-name: Exchange
        x-order: '30'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '40'
        x-go-name: MicCode
        x-order: '40'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '50'
        x-go-name: Country
        x-order: '50'
        example: US
      - description: 'Specifies the time range for which to retrieve dividend data.

          Accepts values such as `last` (most recent dividend), `next` (upcoming dividend),

          `1m` - `5y` for respective periods, or `full` for all available data.

          If provided together with `start_date` and/or `end_date`, this parameter takes precedence.'
        in: query
        name: range
        schema:
          $ref: '#/components/schemas/RangeEnum'
        x-go-name: Range
        x-order: '60'
      - description: 'Start date for the dividend data query. Only dividends with dates on or after this date will be returned. Format `2006-01-02`.

          If provided together with `range` parameter, `range` will take precedence.'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '70'
        x-go-name: StartDate
        x-order: '70'
        example: '2024-01-01'
      - description: 'End date for the dividend data query. Only dividends with dates on or before this date will be returned. Format `2006-01-02`.

          If provided together with `range` parameter, `range` will take precedence.'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '80'
        x-go-name: EndDate
        x-order: '80'
        example: '2024-12-31'
      - description: Specifies if there should be an adjustment
        in: query
        name: adjust
        schema:
          default: true
          type: boolean
          x-go-name: Adjust
          x-order: '90'
        x-go-name: Adjust
        x-order: '90'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDividends_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Dividends
      tags:
      - Fundamentals
      x-api-credits-cost: '20'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '30'
      x-starting-plan: grow,venture
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /dividends_calendar:
    get:
      description: The dividends calendar endpoint provides a detailed schedule of upcoming and past dividend events for specified date ranges. By using the `start_date` and `end_date` parameters, users can retrieve a list of companies issuing dividends, including the ex-dividend date and dividend amount. This endpoint is ideal for tracking dividend payouts and planning investment strategies based on dividend schedules.
      operationId: GetDividendsCalendar
      parameters:
      - description: 'Symbol ticker of instrument. For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '1'
        x-go-name: Symbol
        x-order: '1'
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '2'
        x-go-name: Figi
        x-order: '2'
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '3'
        x-go-name: Isin
        x-order: '3'
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '4'
        x-go-name: Cusip
        x-order: '4'
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '10'
        x-go-name: Exchange
        x-order: '10'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '20'
        x-go-name: MicCode
        x-order: '20'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '30'
        x-go-name: Country
        x-order: '30'
        example: US
      - description: Start date for the dividends calendar query. Only dividends with ex-dates on or after this date will be returned. Format `2006-01-02`
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '40'
        x-go-name: StartDate
        x-order: '40'
        example: '2024-01-01'
      - description: End date for the dividends calendar query. Only dividends with ex-dates on or before this date will be returned. Format `2006-01-02`
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '50'
        x-go-name: EndDate
        x-order: '50'
        example: '2024-12-31'
      - description: 'Number of data points to retrieve.

          Supports values in the range from `1` to `500`.

          Default `100` when no date parameters are set, otherwise set to maximum'
        in: query
        name: outputsize
        schema:
          default: 100
          format: int64
          type: integer
          x-go-name: Outputsize
          x-order: '60'
        x-go-name: Outputsize
        x-order: '60'
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: '70'
        x-go-name: Page
        x-order: '70'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DividendsCalendarItem'
                type: array
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Dividends calendar
      tags:
      - Fundamentals
      x-api-credits-cost: '40'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '40'
      x-starting-plan: grow,venture
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /earnings:
    get:
      description: The earnings endpoint provides comprehensive earnings data for a specified company, including both the estimated and actual Earnings Per Share (EPS) figures. This endpoint delivers historical earnings information, allowing users to track a company's financial performance over time.
      operationId: GetEarnings
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The asset class to which the instrument belongs
        in: query
        name: type
        schema:
          $ref: '#/components/schemas/TypeEnum'
        x-go-name: Type
        x-order: '70'
        example: Common Stock
      - description: 'Type of earning, returns only 1 record.

          When is not empty, dates and outputsize parameters are ignored'
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEarningsEnum'
        x-go-name: Period
        x-order: '80'
      - description: 'Number of data points to retrieve.

          Supports values in the range from `1` to `1000`.

          Default `10` when no date parameters are set, otherwise set to maximum'
        in: query
        name: outputsize
        schema:
          default: 10
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: '90'
        x-go-name: PageSize
        x-order: '90'
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
        x-order: '100'
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '110'
        x-go-name: Delimiter
        x-order: '110'
      - description: The date from which the data is requested. The date format is `YYYY-MM-DD`.
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '140'
        x-go-name: StartDate
        x-order: '140'
        example: '2024-04-01'
      - description: The date to which the data is requested. The date format is `YYYY-MM-DD`.
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '150'
        x-go-name: EndDate
        x-order: '150'
        example: '2024-04-30'
      - description: The number of decimal places in the response data. Should be in range [0,11] inclusive
        in: query
        name: dp
        schema:
          default: 2
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: '130'
        x-go-name: DecimalPlaces
        x-order: '130'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEarnings_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Earnings
      tags:
      - Fundamentals
      x-api-credits-cost: '20'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '70'
      x-starting-plan: grow,venture
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /earnings_calendar:
    get:
      description: The earnings calendar endpoint provides a schedule of company earnings announcements for a specified date range. By default, it returns earnings data for the current day. Users can customize the date range using the `start_date` and `end_date` parameters to retrieve earnings information for specific periods. This endpoint is useful for tracking upcoming earnings reports and planning around key financial announcements.
      operationId: GetEarningsCalendar
      parameters:
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '10'
        x-go-name: Exchange
        x-order: '10'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '20'
        x-go-name: MicCode
        x-order: '20'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '30'
        x-go-name: Country
        x-order: '30'
        example: United States
      - description: Value can be JSON or CSV
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
        x-order: '40'
      - description: Specify the delimiter used when downloading the CSV file
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '50'
        x-go-name: Delimiter
        x-order: '50'
      - description: 'Can be used separately and together with end_date.

          Format `2006-01-02` or `2006-01-02T15:04:05`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '70'
        x-go-name: StartDate
        x-order: '70'
        example: '2024-04-01'
      - description: 'Can be used separately and together with start_date.

          Format `2006-01-02` or `2006-01-02T15:04:05`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '80'
        x-go-name: EndDate
        x-order: '80'
        example: '2024-04-30'
      - description: 'Specifies the number of decimal places for floating values.

          Should be in range [0,11] inclusive'
        in: query
        name: dp
        schema:
          default: 2
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: '60'
        x-go-name: DecimalPlaces
        x-order: '60'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEarningsCalendar_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Earnings calendar
      tags:
      - Fundamentals
      x-api-credits-cost: '40'
      x-api-credits-type: request
      x-group: Fundamentals
      x-order: '80'
      x-starting-plan: grow,venture
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /income_statement:
    get:
      description: The income statement endpoint provides detailed financial data on a company's income statement, including revenues, expenses, and net income for specified periods, either annually or quarterly. This endpoint is essential for retrieving comprehensive financial performance metrics of a company, allowing users to access historical and current financial results.
      operationId: GetIncomeStatement
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the income statement data
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
        example: annual
      - description: 'Begin date for filtering income statements by fiscal date.

          Returns income statements with fiscal dates on or after this date.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2024-01-01'
      - description: 'End date for filtering income statements by fiscal date.

          Returns income statements with fiscal dates on or before this date.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2024-12-31'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: '100'
        x-go-name: PageSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncomeStatement_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Income statement
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Pro plan (individual) and the Venture plan (business) and above. Full access to historical data requires the Ultra plan (individual) or the Enterprise plan (business).
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-badge: High demand
      x-group: Fundamentals
      x-order: '110'
      x-starting-plan: pro,venture
      x-url-hash: income-statement
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /income_statement/consolidated:
    get:
      description: The income statement consolidated endpoint provides a company's raw income statement, detailing revenue, expenses, and net income for specified periods, either annually or quarterly. This data is essential for evaluating a company's financial performance over time, allowing users to access comprehensive financial results in a structured format.
      operationId: GetIncomeStatementConsolidated
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: The reporting period for the income statement data
        in: query
        name: period
        schema:
          $ref: '#/components/schemas/PeriodEnum'
        x-go-name: Period
        x-order: '70'
      - description: 'Begin date for filtering income statements by fiscal date.

          Returns income statements with fiscal dates on or after this date.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2024-01-01'
      - description: 'End date for filtering income statements by fiscal date.

          Returns income statements with fiscal dates on or before this date.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2024-12-31'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 6
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncomeStatementConsolidated_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Income statement consolidated
      tags:
      - Fundamentals
      x-additional-notes: This API endpoint is available on the Ultra plan (individual) and the Enterprise plan (business) and above.
      x-api-credits-cost: '100'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '120'
      x-starting-plan: ultra,enterprise
      x-url-hash: income-statement-consolidated
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /ipo_calendar:
    get:
      description: The IPO Calendar endpoint provides detailed information on initial public offerings (IPOs), including those that have occurred in the past, are happening today, or are scheduled for the future. Users can access data such as company names, IPO dates, and offering details, allowing them to track and monitor IPO activity efficiently.
      operationId: GetIpoCalendar
      parameters:
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '10'
        x-go-name: Exchange
        x-order: '10'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '20'
        x-go-name: MicCode
        x-order: '20'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '30'
        x-go-name: Country
        x-order: '30'
        example: United States
      - description: 'The earliest IPO date to include in the results. Format: `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '40'
        x-go-name: StartDate
        x-order: '40'
        example: '2021-01-01'
      - description: 'The latest IPO date to include in the results. Format: `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '50'
        x-go-name: EndDate
        x-order: '50'
        example: '2021-12-31'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/GetIpoCalendar_200_response_value_inner'
                  type: array
                type: object
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: IPO calendar
      tags:
      - Fundamentals
      x-api-credits-cost: '40'
      x-api-credits-type: request
      x-group: Fundamentals
      x-order: '90'
      x-starting-plan: grow,venture
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /key_executives:
    get:
      description: The key executives endpoint provides detailed information about a company's key executives identified by a specific stock symbol. It returns data such as names, titles, and roles of the executives, which can be useful for understanding the leadership structure of the company.
      operationId: GetKeyExecutives
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKeyExecutives_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Key executives
      tags:
      - Fundamentals
      x-api-credits-cost: '1000'
      x-api-credits-type: symbol
      x-badge: Useful
      x-group: Fundamentals
      x-order: '170'
      x-starting-plan: ultra,enterprise
      x-url-hash: key-executives
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /last_change/{endpoint}:
    get:
      description: The last change endpoint provides the most recent updates to fundamental data for a specified dataset. It returns a timestamp indicating when the data was last modified, allowing users to efficiently manage API requests by only fetching new data when changes occur. This helps optimize data retrieval and reduce unnecessary API credit usage.
      operationId: GetLastChanges
      parameters:
      - description: Endpoint name
        in: path
        name: endpoint
        required: true
        schema:
          $ref: '#/components/schemas/EndpointEnum'
        x-go-name: Endpoint
        x-order: '10'
        example: statistics
      - description: The starting date and time for data selection, in `2006-01-02T15:04:05` format
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '20'
        x-go-name: StartDate
        x-order: '20'
        example: '2023-10-14T00:00:00'
      - description: Filter by symbol
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '30'
        x-go-name: Symbol
        x-order: '30'
        example: AAPL
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: '70'
        x-go-name: Page
        x-order: '70'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: '80'
        x-go-name: PageSize
        x-order: '80'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLastChanges_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Last changes
      tags:
      - Fundamentals
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-badge: New
      x-group: Fundamentals
      x-order: '190'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /logo:
    get:
      description: The logo endpoint provides the official logo image for a specified company, cryptocurrency, or forex pair. This endpoint is useful for integrating visual branding elements into financial applications, websites, or reports, ensuring that users can easily identify and associate the correct logo with the respective financial asset.
      operationId: GetLogo
      parameters:
      - description: The ticker symbol of an instrument for which data is requested, e.g., `AAPL`, `BTC/USD`, `EUR/USD`.
        in: query
        name: symbol
        required: true
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
        x-go-name: Symbol
        x-order: '10'
        example: BTC/USD
      - description: The exchange name where the instrument is traded, e.g., `NASDAQ`, `NSE`
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '20'
        x-go-name: Exchange
        x-order: '20'
        example: NASDAQ
      - description: The Market Identifier Code (MIC) of the exchange where the instrument is traded, e.g., `XNAS`, `XLON`
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '30'
        x-go-name: MicCode
        x-order: '30'
        example: XNAS
      - description: The country where the instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '40'
        x-go-name: Country
        x-order: '40'
        example: United States
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogo_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Logo
      tags:
      - Fundamentals
      x-api-credits-cost: '1'
      x-api-credits-type: symbol
      x-group: Fundamentals
      x-order: '10'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /market_cap:
    get:
      description: The Market Capitalization History endpoint provides historical data on a company's market capitalization over a specified time period. It returns a time series of market cap values, allowing users to track changes in a company's market value.
      operationId: GetMarketCap
      parameters:
      - description: Filter by symbol
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      - description: 'Start date for market capitalization data retrieval.

          Data will be returned from this date onwards.

          Format `2006-01-02`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '70'
        x-go-name: StartDate
        x-order: '70'
        example: '2023-01-01'
      - description: 'End date for market capitalization data retrieval.

          Data will be returned up to and including this date.

          Format `2006-01-02`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '80'
        x-go-name: EndDate
        x-order: '80'
        example: '2023-12-31'
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: '90'
        x-go-name: Page
        x-order: '90'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 10
          format: int64
          type: integer
          x-go-name: OutputSize
          x-order: '100'
        x-go-name: OutputSize
        x-order: '100'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketCap_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Market capitalization
      tags:
      - Fundamentals
      x-api-credits-cost: '5'
      x-api-credits-type: request
      x-badge: New
      x-group: Fundamentals
      x-order: '180'
      x-starting-plan: ultra,enterprise
      x-url-hash: market-cap
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /press_releases:
    get:
      description: The press releases endpoint offers structured, real-time access to official company press releases and corporate announcements from public entities across global markets.
      operationId: PressReleasesListParameters
      parameters:
      - description: 'Symbol ticker of instrument.

          For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '32'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '32'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: 'Begin date for filtering items.

          Returns press releases with release date on or after this date. Format `2025-12-24T02:07:00`'
        in: query
        name: start_date
        schema:
          type: string
          x-go-name: StartDate
          x-order: '80'
        x-go-name: StartDate
        x-order: '80'
        example: '2025-12-01T00:00:00'
      - description: 'End date for filtering items.

          Returns press releases with release date on or before this date. Format `2025-12-24T02:07:00`'
        in: query
        name: end_date
        schema:
          type: string
          x-go-name: EndDate
          x-order: '90'
        x-go-name: EndDate
        x-order: '90'
        example: '2025-12-31T23:59:00'
      - description: Time zone for date filtering. Default is the identifier time zone.
        in: query
        name: timezone
        schema:
          type: string
          x-go-name: TimeZone
          x-order: '100'
        x-go-name: TimeZone
        x-order: '100'
        example: America/New_York
      - description: Comma-separated list of languages to filter press releases by language.
        in: query
        name: language
        schema:
          type: string
          x-go-name: Language
          x-order: '95'
        x-go-name: Language
        x-order: '95'
        example: en,en-US
      - description: 'Number of latest press releases returned. Only used if no data range is specified. Maximum value is `10`.


          type: number'
        in: query
        name: outputsize
        schema:
          default: 2
          format: int64
          type: integer
          x-go-name: Outputsize
          x-order: '110'
        x-go-name: Outputsize
        x-order: '110'
        example: 5
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PressReleasesListParameters_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Press releases
      tags:
      - Fundamentals
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-badge: New
      x-group: Fundamentals
      x-order: '105'
      x-starting-plan: Basic
      x-url-hash: press-releases
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /profile:
    get:
      description: The profile endpoint provides detailed company information, including the company's name, industry, sector, CEO, and headquarters location. This data is useful for obtaining a comprehensive overview of a company's business and financial standing.
      operationId: GetProfile
      parameters:
      - description: 'Symbol ticker of instrument. For preferred stocks use dot(.) delimiter.

          E.g. `BRK.A` or `BRK.B` will be correct'
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '31'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '31'
        x-required-group: symbol
        example: '594918104'
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: NASDAQ
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: Country where instrument is traded, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '60'
        x-go-name: Country
        x-order: '60'
        example: United States
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProfile_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
[...]
