openapi: 3.2.0
info:
  description: '## Overview


    Welcome to Twelve Data developer docs — your gateway to comprehensive financial market data through a powerful and easy-to-use API.'
  title: Twelve Data Money Market Funds API
  version: 0.0.1
servers:
- url: https://api.twelvedata.com/
security:
- authorizationHeader:
  - '[]'
- queryParameter:
  - '[]'
tags:
- name: money_market_funds
paths:
  /money_market_funds/list:
    get:
      description: The money market funds directory endpoint provides a list of money market funds, sorted in descending order by their total fund size. This endpoint is useful for retrieving an organized overview of available money market funds.
      operationId: GetMoneyMarketFundsList
      parameters:
      - description: Filter by symbol (ISIN or ticker)
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
        x-go-name: Symbol
        x-order: '10'
        example: IE00BK8M8M59
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatMoneyMarketFundsListEnum'
        x-go-name: Format
        x-order: '30'
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '40'
        x-go-name: Delimiter
        x-order: '40'
      - description: Page number
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: '50'
        x-go-name: Page
        x-order: '50'
      - description: Number of records in response
        in: query
        name: outputsize
        schema:
          default: 100
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: '60'
        x-go-name: PageSize
        x-order: '60'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMoneyMarketFundsList_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: MMFs directory
      tags:
      - money_market_funds
      x-additional-notes: Basic, Grow, and Pro plans (individual) and Venture plan (business) return up to 50 records. For complete data, upgrade to the Ultra plan (individual), Enterprise (business), or Custom plan (business).
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-badge: New
      x-group: Money market funds
      x-order: '10'
      x-starting-plan: ultra,enterprise
      x-url-hash: money-market-funds-list
  /money_market_funds/world:
    get:
      description: The money market fund full data endpoint provides detailed information about a global money market fund. It returns a comprehensive snapshot of the fund, including its identity, screener metrics (fund size, liquidity, weighted average maturity), yields, key facts, risk indicator, and key risks. This endpoint is essential for users seeking in-depth insights into a specific money market fund.
      operationId: GetMoneyMarketFundsWorld
      parameters:
      - description: Symbol ticker of money market fund
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: IE00BK8M8M59
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG00HMMLCH1
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '30'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '30'
        x-required-group: symbol
        example: IE00BK8M8M59
      - description: Number of decimal places for floating values
        in: query
        name: dp
        schema:
          default: 5
          format: int64
          type: integer
          x-go-name: Dp
          x-order: '40'
        x-go-name: Dp
        x-order: '40'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMoneyMarketFundsWorld_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: MMF full data
      tags:
      - money_market_funds
      x-api-credits-cost: '1000'
      x-api-credits-type: request
      x-badge: New
      x-group: Money market funds
      x-order: '20'
      x-starting-plan: ultra,enterprise
      x-url-hash: money-market-funds-all-data
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
components:
  schemas:
    MoneyMarketFundsWorldResponseItem:
      properties:
        symbol:
          description: Fund symbol (ISIN or ticker)
          examples:
          - IE00BK8M8M59
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Fund name
          examples:
          - BlackRock ICS Sterling Liquid Environmentally Aware Fund
          type: string
          x-go-name: Name
          x-order: 40
        currency:
          description: Currency in which the fund is denominated
          examples:
          - GBP
          type: string
          x-go-name: Currency
          x-order: 50
        share_class:
          description: Share class
          examples:
          - Premier Dis
          type: string
          x-go-name: ShareClass
          x-order: 60
        fund_type:
          description: Type of fund
          examples:
          - Short-Term Variable NAV
          type: string
          x-go-name: FundType
          x-order: 70
        total_fund_size_millions:
          description: Total fund size in millions
          examples:
          - 12345.67
          format: double
          type: number
          x-go-name: TotalFundSizeMillions
          x-order: 80
        daily_factor:
          description: Daily distribution factor
          format: double
          type: number
          x-go-name: DailyFactor
          x-order: 90
        daily_liquidity_pct_nav:
          description: Daily liquid assets as a percentage of NAV
          examples:
          - 45.6
          format: double
          type: number
          x-go-name: DailyLiquidityPctNav
          x-order: 100
        weekly_liquidity_pct_nav:
          description: Weekly liquid assets as a percentage of NAV
          examples:
          - 67.8
          format: double
          type: number
          x-go-name: WeeklyLiquidityPctNav
          x-order: 110
        wam_days:
          description: Weighted average maturity in days
          examples:
          - 38
          format: int64
          type: integer
          x-go-name: WamDays
          x-order: 120
        wal_days:
          description: Weighted average life in days
          examples:
          - 62
          format: int64
          type: integer
          x-go-name: WalDays
          x-order: 130
        daily_netflows:
          description: Daily net flows
          format: double
          type: number
          x-go-name: DailyNetflows
          x-order: 140
        as_of_date:
          description: Date the snapshot data is as of
          examples:
          - '2024-12-31'
          type: string
          x-go-name: AsOfDate
          x-order: 150
        fund_overview:
          description: Fund overview text
          type: string
          x-go-name: FundOverview
          x-order: 160
        nav:
          description: Net asset value
          examples:
          - 1
          format: double
          type: number
          x-go-name: Nav
          x-order: 170
        yield_1m:
          description: 1-month yield
          examples:
          - 5.12
          format: double
          type: number
          x-go-name: Yield1m
          x-order: 180
        yield_3m:
          description: 3-month yield
          examples:
          - 5.05
          format: double
          type: number
          x-go-name: Yield3m
          x-order: 200
        yield_6m:
          description: 6-month yield
          examples:
          - 4.98
          format: double
          type: number
          x-go-name: Yield6m
          x-order: 210
        yield_1y:
          description: 1-year yield
          examples:
          - 4.85
          format: double
          type: number
          x-go-name: Yield1y
          x-order: 220
        key_facts:
          description: Key facts about the fund
          type: object
          x-go-name: KeyFacts
          x-order: 230
        risk_indicator:
          description: Risk indicator details
          type: object
          x-go-name: RiskIndicator
          x-order: 240
        key_risks:
          description: Key risks of the fund
          type: object
          x-go-name: KeyRisks
          x-order: 250
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiBadRequestErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 400
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - Invalid request
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiTooManyRequestsErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 429
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - You have run out of API credits for the current minute. 1000 API credits were used, with the current limit being 987. Wait for the next minute or consider upgrading your plan at https://twelvedata.com/pricing
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetMoneyMarketFundsWorld_200_response:
      properties:
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
          x-order: 20
        money_market_fund:
          $ref: '#/components/schemas/MoneyMarketFundsWorldResponseItem'
      required:
      - money_market_fund
      - status
      type: object
    ApiInternalServerErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 500
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - Internal server error
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    FormatMoneyMarketFundsListEnum:
      default: json
      enum:
      - json
      - csv
      type: string
      x-go-name: FormatMoneyMarketFundsList
      x-order: '30'
    GetMoneyMarketFundsList_200_response:
      properties:
        data:
          description: List of money market funds
          items:
            $ref: '#/components/schemas/MoneyMarketFundsListResponseListItem'
          type: array
          x-go-name: Data
          x-order: 10
        count:
          description: Total number of matching funds
          examples:
          - 168
          format: int64
          type: integer
          x-go-name: Count
          x-order: 20
        page:
          description: Current page number
          examples:
          - 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: 30
        page_size:
          description: Number of records per page
          examples:
          - 100
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: 40
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
          x-order: 50
      required:
      - count
      - data
      - page
      - page_size
      - status
      type: object
    ApiParameterTooLongErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 414
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - Input parameter array exceeds the allowed length
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiNotFoundErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 404
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - symbol or figi parameter is missing or invalid
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiForbiddenErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 403
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - API key lacks permissions for the requested resource
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    MoneyMarketFundsListResponseListItem:
      properties:
        symbol:
          description: Fund symbol (ISIN or ticker)
          examples:
          - IE00BK8M8M59
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Fund name
          examples:
          - BlackRock ICS Sterling Liquid Environmentally Aware Fund
          type: string
          x-go-name: Name
          x-order: 20
        currency:
          description: Currency in which the fund is denominated
          examples:
          - GBP
          type: string
          x-go-name: Currency
          x-order: 30
        share_class:
          description: Share class
          examples:
          - Premier Dis
          type: string
          x-go-name: ShareClass
          x-order: 40
        fund_family:
          description: Investment company family that manages the fund
          examples:
          - BlackRock ICS
          type: string
          x-go-name: FundFamily
          x-order: 50
        fund_type:
          description: Type of fund
          examples:
          - Short-Term Variable NAV
          type: string
          x-go-name: FundType
          x-order: 60
        regulatory_structure:
          description: Regulatory structure
          examples:
          - UCITS
          type: string
          x-go-name: RegulatoryStructure
          x-order: 70
        domicile:
          description: Country of fund domicile (ISO 3166-1 alpha-2 code)
          examples:
          - IE
          type: string
          x-go-name: Domicile
          x-order: 80
        issuing_company:
          description: Company that issues the fund
          examples:
          - BlackRock Asset Management Ireland Limited
          type: string
          x-go-name: IssuingCompany
          x-order: 90
      required:
      - name
      - symbol
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiUnauthorizedErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 401
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - apikey parameter is incorrect or not specified
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
  securitySchemes:
    authorizationHeader:
      description: Enter the token with the `apikey ` prefix, e.g. "apikey abcde12345".
      in: header
      name: Authorization
      type: apiKey
    queryParameter:
      in: query
      name: apikey
      type: apiKey
x-group-list:
- description: Access real-time and historical market prices—time series and exchange rates—for equities, forex, cryptocurrencies, ETFs, and more. These endpoints form the foundation for any trading or data-driven application.
  name: Market data
  order: 10
- children:
  - description: Asset Catalog endpoints are your starting point. They return the complete inventory of tradeable instruments available through Twelve Data — over 1,000,000 symbols across 50+ countries. You query a catalog first to discover which symbols exist, then pass those symbols to price, fundamental, or indicator endpoints.
    name: Asset catalogs
    order: 10
  - description: Discovery endpoints help you find instruments when you don't already know the exact identifier. The Asset Catalog is the phone book; Discovery is the search engine on top of it.
    name: Discovery
    order: 20
  - description: 'Market endpoints answer operational questions about exchanges themselves: which ones are open right now, what are their trading hours, and how far back does data go for a given instrument?'
    name: Markets
    order: 30
  - description: 'Metadata endpoints return the lookup tables and enumerations that define valid parameter values across the entire API. They answer: what instrument types exist? What intervals are supported? Which countries are covered? What technical indicators can I use?'
    name: Supporting metadata
    order: 40
  description: Lookup static metadata—symbol lists, exchange details, currency information-to filter, validate, and contextualize your core data calls. Ideal for building dropdowns, mappings, and ensuring data consistency.
  name: Reference data
  order: 20
- description: In-depth company and fund financials—income statements, balance sheets, cash flows, profiles, corporate events, and key ratios. Unlock comprehensive datasets for valuation, screening, and fundamental research.
  name: Fundamentals
  order: 30
- name: Currencies
  order: 35
- description: 'ETF-focused metadata and analytics: universe lists, family and type groupings, NAV snapshots, performance metrics, risk measures, and current fund composition. Tailored to the unique characteristics and reporting cadence of exchange-traded funds.'
  name: ETFs
  order: 40
- description: 'Mutual-fund-specific listings and snapshots: fund directories, issuer families, fund types, NAV history, dividend records, key ratios, and portfolio holdings. Ideal for long-term performance analysis and portfolio attribution.'
  name: Mutual funds
  order: 50
- description: 'Money-market-fund directories and full-data snapshots: fund listings ranked by fund size, plus screener metrics (fund size, liquidity, weighted average maturity), yields, key facts, and risk indicators. Focused on short-term, low-risk cash-management instruments for liquidity and capital-preservation analysis.'
  name: Money market funds
  order: 55
- children:
  - description: Plotted directly on the price chart to smooth or envelope price data, highlighting trend direction, support/resistance, and mean-reversion levels (e.g. moving averages, Bollinger Bands, Parabolic SAR, Ichimoku Cloud, Keltner Channels, McGinley Dynamic).
    name: Overlap studies
    order: 10
  - description: Oscillators that measure the speed or strength of price movement, helping detect overbought/oversold conditions, divergences, and shifts in trend momentum (e.g. RSI, MACD, ROC, Stochastics, ADX, CCI, Coppock Curve, TRIX).
    name: Momentum indicators
    order: 20
  - description: Use trading volume to confirm price moves or warn of exhaustion—volume and price in tandem suggest trend strength, while divergences can signal reversals (e.g. OBV, Chaikin AD, Accumulation/Distribution Oscillator).
    name: Volume indicators
    order: 30
  - description: Quantify the range or dispersion of price over time to gauge risk, size stops, or identify breakouts (e.g. ATR, NATR, True Range) and adaptive overlays like SuperTrend.
    name: Volatility indicators
    order: 40
  - description: Convert raw OHLC data into derived series or aggregated values to feed other indicators or reveal different perspectives on price (e.g. typical price, HLC3, weighted close, arithmetic transforms like SUM, AVG, LOG, SQRT).
    name: Price transform
    order: 50
  - description: Detect and follow recurring periodic patterns in price action using Hilbert Transform–based measures of cycle period and phase (e.g. HT_SINE, HT_DCPERIOD, HT_DCPHASE, HT_PHASOR, HT_TRENDMODE).
    name: Cycle indicators
    order: 60
  - description: Scan bars or bar‐groups for predefined candlestick patterns that historically signal continuation or reversal setups (e.g. Doji, Hammer, Engulfing, Three Black Crows, Morning Star, Dark Cloud Cover, etc.).
    name: Pattern recognition
    order: 70
  - description: Compute fundamental statistical metrics on price series—dispersion, regression, correlation, and forecasting components—for standalone analysis or as inputs to other models (e.g. STDDEV, VAR, LINEARREG, CORREL, TSF, BETA).
    name: Statistic functions
    order: 80
  - name: Math transform
    order: 90
  description: On-demand calculation of popular indicators (SMA, EMA, RSI, MACD, Bollinger Bands, etc.) over any supported time series. Streamline chart overlays, signal generation, and backtesting without external libraries.
  name: Technical indicators
  order: 60
- description: Forward-looking and consensus analytics—earnings and revenue estimates, EPS trends and revisions, growth projections, analyst recommendations and ratings, price targets, and other consensus metrics. Perfect for incorporating expert forecasts and sentiment into your models and dashboards.
  name: Analysis
  order: 70
- description: 'Compliance and filings data: insider transactions, SEC reports, governance documents, and more. Critical for audit trails, due-diligence workflows, and risk-management integrations.'
  name: Regulatory
  order: 80
- description: High-throughput and management endpoints for power users—submit and monitor batch jobs to pull large datasets asynchronously, track your API usage and quotas programmatically, and access other developer-focused tools for automating and scaling your data workflows.
  name: Advanced
  order: 90
x-original-swagger-version: '2.0'
