openapi: 3.2.0
info:
  title: Twelvedata Reference Data API
  version: '1.0'
  description: 'Operations tagged reference_data across 2 of this provider''s published API definitions: twelvedata-openapi-original.json, twelvedata-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.twelvedata.com/
- url: https://api.twelvedata.com
  description: Twelve Data REST base URL
tags:
- name: Reference Data
paths:
  /bonds:
    get:
      description: The fixed income endpoint provides a daily updated list of available bonds. It returns an array containing detailed information about each bond, including identifiers, names, and other relevant attributes.
      operationId: GetBonds
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: US2Y
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
        x-go-name: Exchange
        example: NYSE
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
        example: United States
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Adds info on which plan symbol is available
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
        x-go-name: ShowPlan
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          default: 5000
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBonds_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Fixed income
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '70'
      x-url-hash: bonds-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /commodities:
    get:
      description: The commodities endpoint provides a daily updated list of available commodity pairs, across precious metals, livestock, softs, grains, etc.
      operationId: GetCommodities
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
        x-go-name: Symbol
        x-order: '10'
        example: XAU/USD
      - description: Filter by category of commodity
        in: query
        name: category
        schema:
          type: string
          x-go-name: Category
          x-order: '20'
        x-go-name: Category
        x-order: '20'
        example: Precious Metal
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
        x-order: '30'
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '40'
        x-go-name: Delimiter
        x-order: '40'
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
          x-order: '50'
        x-go-name: Page
        x-order: '50'
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: '60'
        x-go-name: PageSize
        x-order: '60'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommodities_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Commodities
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '60'
      x-url-hash: commodities-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /countries:
    get:
      description: The countries endpoint provides a comprehensive list of countries, including their ISO codes, official names, capitals, and currencies. This data is essential for applications requiring accurate country information for tasks such as localization, currency conversion, or geographic analysis.
      operationId: GetCountries
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCountries_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Countries
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Supporting metadata
      x-order: '10'
      x-url-hash: countries
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /cross_listings:
    get:
      description: The cross_listings endpoint provides a daily updated list of cross-listed symbols for a specified financial instrument. Cross-listed symbols represent the same security available on multiple exchanges. This endpoint is useful for identifying all the exchanges where a particular security is traded, allowing users to access comprehensive trading information across different markets.
      operationId: GetCrossListings
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        required: true
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
        x-go-name: Symbol
        x-order: '10'
        example: AAPL
      - description: Exchange where instrument is traded
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '20'
        x-go-name: Exchange
        x-order: '20'
        example: NASDAQ
      - description: Market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '30'
        x-go-name: MicCode
        x-order: '30'
        example: XNGS
      - description: Country to which stock exchange belongs to
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '40'
        x-go-name: Country
        x-order: '40'
        example: United States
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCrossListings_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Cross listings
      tags:
      - Reference Data
      x-api-credits-cost: '40'
      x-api-credits-type: request
      x-group: Reference data/Discovery
      x-order: '20'
      x-starting-plan: grow,venture
      x-url-hash: cross-listings
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /cryptocurrencies:
    get:
      description: The cryptocurrencies endpoint provides a daily updated list of all available cryptos. It returns an array containing detailed information about each cryptocurrency, including its symbol, name, and other relevant identifiers. This endpoint is useful for retrieving a comprehensive catalog of cryptocurrencies for applications that require up-to-date market listings or need to display available crypto assets to users.
      operationId: GetCryptocurrencies
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: BTC/USD
      - description: Filter by exchange name. E.g. `Binance`, `Coinbase`, etc.
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
        x-go-name: Exchange
        example: Binance
      - description: Filter by currency base
        in: query
        name: currency_base
        schema:
          type: string
          x-go-name: CurrencyBase
        x-go-name: CurrencyBase
        example: BTC
      - description: Filter by currency quote
        in: query
        name: currency_quote
        schema:
          type: string
          x-go-name: CurrencyQuote
        x-go-name: CurrencyQuote
        example: USD
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCryptocurrencies_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Cryptocurrency pairs
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '30'
      x-url-hash: cryptocurrencies-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /cryptocurrency_exchanges:
    get:
      description: The cryptocurrency exchanges endpoint provides a daily updated list of available cryptocurrency exchanges. It returns an array containing details about each exchange, such as exchange names and identifiers.
      operationId: GetCryptocurrencyExchanges
      parameters:
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
        x-order: '10'
      - description: Specify the delimiter used when downloading the CSV file
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '20'
        x-go-name: Delimiter
        x-order: '20'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCryptocurrencyExchanges_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Cryptocurrency exchanges
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Markets
      x-order: '30'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /earliest_timestamp:
    get:
      description: The earliest_timestamp endpoint provides the earliest available date and time for a specified financial instrument at a given data interval. This endpoint is useful for determining the starting point of historical data availability for various assets, such as stocks or currencies, allowing users to understand the time range covered by the data.
      operationId: GetEarliestTimestamp
      parameters:
      - description: Symbol ticker of the instrument.
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
          x-required-group: symbol
        x-go-name: Symbol
        x-order: '10'
        x-required-group: symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
          x-order: '20'
          x-required-group: symbol
        x-go-name: Figi
        x-order: '20'
        x-required-group: symbol
        example: BBG000B9XRY4
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
          x-order: '25'
          x-required-group: symbol
        x-go-name: Isin
        x-order: '25'
        x-required-group: symbol
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
          x-order: '26'
          x-required-group: symbol
        x-go-name: Cusip
        x-order: '26'
        x-required-group: symbol
        example: '594918104'
      - description: Interval between two consecutive points in time series.
        in: query
        name: interval
        required: true
        schema:
          $ref: '#/components/schemas/IntervalEnum'
        x-go-name: Interval
        x-order: '30'
        example: 1day
      - description: Exchange where instrument is traded.
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '40'
        x-go-name: Exchange
        x-order: '40'
        example: Nasdaq
      - description: Market Identifier Code (MIC) under ISO 10383 standard.
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '50'
        x-go-name: MicCode
        x-order: '50'
        example: XNAS
      - description: 'Timezone at which output datetime will be displayed. Supports:

          <ul>

          <li>1. <code>Exchange</code> for local exchange time</li>

          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>

          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a>.</li>

          </ul>

          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>

          <i>Take note that the IANA Timezone name is case-sensitive</i>'
        in: query
        name: timezone
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
        x-go-name: Timezone
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEarliestTimestamp_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Earliest timestamp
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Discovery
      x-order: '30'
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /etfs:
    get:
      description: The ETFs endpoint provides a daily updated list of all available Exchange-Traded Funds. It returns an array containing detailed information about each ETF, including its symbol, name, and other relevant identifiers. This endpoint is useful for retrieving a comprehensive catalog of ETFs for portfolio management, investment tracking, or financial analysis.
      operationId: GetEtf
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: SPY
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
        x-go-name: Figi
        example: BBG000BDTF76
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
        x-go-name: Isin
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
        x-go-name: Cusip
        example: '594918104'
      - description: The CIK of an instrument for which data is requested
        in: query
        name: cik
        schema:
          type: string
          x-go-name: Cik
        x-go-name: Cik
        example: '95953'
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
        x-go-name: Exchange
        example: NYSE
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
        x-go-name: MicCode
        example: XNYS
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
        example: United States
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Adds info on which plan symbol is available
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
        x-go-name: ShowPlan
      - description: Include delisted identifiers
        in: query
        name: include_delisted
        schema:
          default: false
          type: boolean
          x-go-name: IncludeDelisted
        x-go-name: IncludeDelisted
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEtf_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: ETFs
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '40'
      x-url-hash: etf-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /exchange_schedule:
    get:
      description: The exchanges schedule endpoint provides detailed information about various stock exchanges, including their trading hours and operational days. This data is essential for users who need to know when specific exchanges are open for trading, allowing them to plan their activities around the availability of these markets.
      operationId: GetExchangeSchedule
      parameters:
      - description: Filter by exchange name
        in: query
        name: mic_name
        schema:
          type: string
          x-go-name: MicName
          x-order: '20'
        x-go-name: MicName
        x-order: '20'
        example: NASDAQ
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '30'
        x-go-name: MicCode
        x-order: '30'
        example: XNGS
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '40'
        x-go-name: Country
        x-order: '40'
        example: United States
      - description: '<p>

          If a date is provided, the API returns the schedule for the specified date; otherwise, it returns the default (common) schedule.

          </p>

          The date can be specified in one of the following formats:

          <ul>

          <li>An exact date (e.g., <code>2021-10-27</code>)</li>

          <li>A human-readable keyword: <code>today</code> or <code>yesterday</code></li>

          <li>A full datetime string in UTC (e.g., <code>2025-04-11T20:00:00</code>) to retrieve the schedule corresponding to the day in the specified time.</li>

          </ul>

          When using a datetime value, the resulting schedule will correspond to the local calendar day at the specified time.

          For example, <code>2025-04-11T20:00:00 UTC</code> corresponds to:

          <ul>

          <li><code>2025-04-11</code> in the <code>America/New_York</code> timezone</li>

          <li><code>2025-04-12</code> in the <code>Australia/Sydney</code> timezone</li>

          </ul>'
        in: query
        name: date
        schema:
          type: string
          x-go-name: Date
          x-order: '10'
        x-go-name: Date
        x-order: '10'
        example: '2021-10-27'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeSchedule_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Exchanges schedule
      tags:
      - Reference Data
      x-api-credits-cost: '100'
      x-api-credits-type: request
      x-group: Reference data/Markets
      x-order: '20'
      x-starting-plan: ultra,enterprise
      x-url-hash: exchange-schedule
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /exchanges:
    get:
      description: The exchanges endpoint provides a comprehensive list of all available equity exchanges. It returns an array containing detailed information about each exchange, such as exchange code, name, country, and timezone. This data is updated daily.
      operationId: GetExchanges
      parameters:
      - description: The asset class to which the instrument belongs
        in: query
        name: type
        schema:
          $ref: '#/components/schemas/TypeEnum'
        x-go-name: Type
        x-order: '10'
        example: ETF
      - description: Filter by exchange name
        in: query
        name: name
        schema:
          type: string
          x-go-name: Name
          x-order: '20'
        x-go-name: Name
        x-order: '20'
        example: NASDAQ
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: code
        schema:
          type: string
          x-go-name: Code
          x-order: '30'
        x-go-name: Code
        x-order: '30'
        example: XBUE
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '40'
        x-go-name: Country
        x-order: '40'
        example: United States
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
        x-order: '50'
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: '60'
        x-go-name: Delimiter
        x-order: '60'
      - description: Adds info on which plan symbol is available
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
          x-order: '70'
        x-go-name: ShowPlan
        x-order: '70'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchanges_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Exchanges
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-badge: High demand
      x-group: Reference data/Markets
      x-order: '10'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /forex_pairs:
    get:
      description: The forex pairs endpoint provides a comprehensive list of all available foreign exchange currency pairs. It returns an array of forex pairs, which is updated daily.
      operationId: GetForexPairs
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: EUR/USD
      - description: Filter by currency base
        in: query
        name: currency_base
        schema:
          type: string
          x-go-name: CurrencyBase
        x-go-name: CurrencyBase
        example: EUR
      - description: Filter by currency quote
        in: query
        name: currency_quote
        schema:
          type: string
          x-go-name: CurrencyQuote
        x-go-name: CurrencyQuote
        example: USD
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetForexPairs_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Forex pairs
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '20'
      x-url-hash: forex-pairs-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /funds:
    get:
      description: The funds endpoint provides a daily updated list of available investment funds. It returns an array containing detailed information about each fund, including identifiers, names, and other relevant attributes.
      operationId: GetFunds
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: FXAIX
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
        x-go-name: Figi
        example: BBG000BHTMY7
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
        x-go-name: Isin
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
        x-go-name: Cusip
        example: '594918104'
      - description: The CIK of an instrument for which data is requested
        in: query
        name: cik
        schema:
          type: string
          x-go-name: Cik
        x-go-name: Cik
        example: '95953'
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
        x-go-name: Exchange
        example: Nasdaq
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
        example: United States
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Adds info on which plan symbol is available
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
        x-go-name: ShowPlan
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          default: 5000
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFunds_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Funds
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '50'
      x-url-hash: funds-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /instrument_type:
    get:
      description: The instrument type endpoint lists all available financial instrument types, such as stocks, ETFs, and cryptos. This information is essential for users to identify and categorize different financial instruments when accessing or analyzing market data.
      operationId: GetInstrumentType
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstrumentType_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Instrument type
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Supporting metadata
      x-order: '20'
      x-url-hash: instrument-type
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /intervals:
    get:
      description: The intervals endpoint provides a list of supported time intervals that can be used for querying financial data.
      operationId: GetIntervals
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntervals_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Intervals List
      tags:
      - Reference Data
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /market_state:
    get:
      description: The market state endpoint provides real-time information on the operational status of all available stock exchanges. It returns data on whether each exchange is currently open or closed, along with the time remaining until the next opening or closing. This endpoint is useful for users who need to monitor exchange hours and plan their trading activities accordingly.
      operationId: GetMarketState
      parameters:
      - description: The exchange name where the instrument is traded.
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
          x-order: '10'
        x-go-name: Exchange
        x-order: '10'
        example: NYSE
      - description: The Market Identifier Code (MIC) of the exchange where the instrument is traded.
        in: query
        name: code
        schema:
          type: string
          x-go-name: MicCode
          x-order: '20'
        x-go-name: MicCode
        x-order: '20'
        example: XNYS
      - description: The country where the exchange is located. Takes country name or alpha code.
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
          x-order: '30'
        x-go-name: Country
        x-order: '30'
        example: United States
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MarketStateResponseItem'
                type: array
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Market state
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Markets
      x-order: '40'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /stocks:
    get:
      description: The stocks endpoint provides a daily updated list of all available stock symbols. It returns an array containing the symbols, which can be used to identify and access specific stock data across various services. This endpoint is essential for users needing to retrieve the latest stock symbol information for further data requests or integration into financial applications.
      operationId: GetStocks
      parameters:
      - description: The ticker symbol of an instrument for which data is requested
        in: query
        name: symbol
        schema:
          type: string
          x-go-name: Symbol
        x-go-name: Symbol
        example: AAPL
      - description: Filter by financial instrument global identifier (FIGI). This parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.
        in: query
        name: figi
        schema:
          type: string
          x-go-name: Figi
        x-go-name: Figi
        example: BBG000B9Y5X2
      - description: Filter by international securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: isin
        schema:
          type: string
          x-go-name: Isin
        x-go-name: Isin
        example: US0378331005
      - description: The CUSIP of an instrument for which data is requested. CUSIP access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section
        in: query
        name: cusip
        schema:
          type: string
          x-go-name: Cusip
        x-go-name: Cusip
        example: '594918104'
      - description: The CIK of an instrument for which data is requested
        in: query
        name: cik
        schema:
          type: string
          x-go-name: Cik
        x-go-name: Cik
        example: '95953'
      - description: Filter by exchange name
        in: query
        name: exchange
        schema:
          type: string
          x-go-name: Exchange
        x-go-name: Exchange
        example: NASDAQ
      - description: Filter by market identifier code (MIC) under ISO 10383 standard
        in: query
        name: mic_code
        schema:
          type: string
          x-go-name: MicCode
        x-go-name: MicCode
        example: XNGS
      - description: Filter by country name or alpha code, e.g., `United States` or `US`
        in: query
        name: country
        schema:
          type: string
          x-go-name: Country
        x-go-name: Country
        example: United States
      - description: The asset class to which the instrument belongs
        in: query
        name: type
        schema:
          $ref: '#/components/schemas/TypeEnum'
        x-go-name: Type
        example: Common Stock
      - description: The format of the response data
        in: query
        name: format
        schema:
          $ref: '#/components/schemas/FormatEnum'
        x-go-name: Format
      - description: The separator used in the CSV response data
        in: query
        name: delimiter
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
        x-go-name: Delimiter
      - description: Adds info on which plan symbol is available
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
        x-go-name: ShowPlan
      - description: Include delisted identifiers
        in: query
        name: include_delisted
        schema:
          default: false
          type: boolean
          x-go-name: IncludeDelisted
        x-go-name: IncludeDelisted
      - description: Page number of the results to fetch
        in: query
        name: page
        schema:
          default: 1
          format: int64
          type: integer
          x-go-name: Page
        x-go-name: Page
      - description: Determines the number of data points returned in the output
        in: query
        name: outputsize
        schema:
          format: int64
          type: integer
          x-go-name: PageSize
        x-go-name: PageSize
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStocks_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Stocks
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Asset catalogs
      x-order: '10'
      x-url-hash: stocks-list
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /symbol_search:
    get:
      description: The symbol search endpoint allows users to find financial instruments by name or symbol. It returns a list of matching symbols, ordered by relevance, with the most relevant instrument first. This is useful for quickly locating specific stocks, ETFs, or other financial instruments when only partial information is available.
      operationId: GetSymbolSearch
      parameters:
      - description: 'Symbol to search. Supports:

          <ul>

          <li>Ticker symbol of instrument.</li>

          <li>International securities identification number (ISIN). ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data add-ons</a> section</li>

          <li>The FIGI (Financial Instrument Global Identifier) parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.</li>

          <li>Composite FIGI parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.</li>

          <li>Share Class FIGI parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan (individual) and <a href="https://twelvedata.com/pricing-business">Enterprise</a> plan (business) and above.</li>

          </ul>'
        in: query
        name: symbol
        required: true
        schema:
          type: string
          x-go-name: Symbol
          x-order: '10'
        x-go-name: Symbol
        x-order: '10'
        example: AAPL
      - description: Number of matches in response. Max <code>120</code>
        in: query
        name: outputsize
        schema:
          default: 30
          format: int64
          maximum: 120
          type: integer
          x-go-name: Outputsize
          x-order: '30'
        x-go-name: Outputsize
        x-order: '30'
      - description: Adds info on which plan symbol is available.
        in: query
        name: show_plan
        schema:
          default: false
          type: boolean
          x-go-name: ShowPlan
          x-order: '40'
        x-go-name: ShowPlan
        x-order: '40'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSymbolSearch_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Symbol search
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-badge: High demand
      x-group: Reference data/Discovery
      x-order: '10'
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /technical_indicators:
    get:
      description: The technical indicators endpoint provides a comprehensive list of available technical indicators, each represented as an object. This endpoint is useful for developers looking to integrate a variety of technical analysis tools into their applications, allowing for streamlined access to indicator data without needing to manually configure each one.
      operationId: GetTechnicalIndicators
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTechnicalIndicators_200_response'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBadRequestErrorResponseBody'
          description: ''
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponseBody'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponseBody'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponseBody'
          description: ''
        '414':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiParameterTooLongErrorResponseBody'
          description: ''
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsErrorResponseBody'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInternalServerErrorResponseBody'
          description: ''
      summary: Technical indicators
      tags:
      - Reference Data
      x-api-credits-cost: '1'
      x-api-credits-type: request
      x-group: Reference data/Supporting metadata
      x-order: '30'
      x-url-hash: technical-indicators-interface
      security:
      - authorizationHeader:
        - '[]'
      - queryParameter:
        - '[]'
    servers:
    - url: https://api.twelvedata.com/
  /indices:
    get:
      operationId: listIndices
      tags:
      - Reference Data
      summary: List indices
      description: Returns the catalog of available market indices.
      parameters:
      - $ref: '#/components/parameters/apikeyParam'
      responses:
        '200':
          description: Index catalog payload.
      security:
      - apikeyQuery: []
      - apikeyHeader: []
    servers:
    - url: https://api.twelvedata.com
      description: Twelve Data REST base URL
components:
  schemas:
    GetCrossListings_200_response:
      properties:
        result:
          $ref: '#/components/schemas/CrossListingsResult'
      type: object
    TechnicalIndicatorsResponseMacdOutputValues:
      description: An array of output values
      properties:
        parameter_name:
          $ref: '#/components/schemas/TechnicalIndicatorsResponseMacdOutputValue'
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetTechnicalIndicators_200_response:
      properties:
        data:
          additionalProperties:
            $ref: '#/components/schemas/GetTechnicalIndicators_200_response_data_value'
          description: Map of technical indicators available at Twelve Data API
          type: object
          x-example-key: macd
          x-go-name: Data
          x-order: 10
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - data
      - status
      type: object
    FundResponseItem:
      description: FundResponseItem represents details of a fund
      properties:
        symbol:
          description: Instrument symbol (ticker)
          examples:
          - DIVI
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Full name of the fund
          examples:
          - AdvisorShares Athena High Dividend ETF
          type: string
          x-go-name: Name
          x-order: 20
        country:
          description: Country where the fund is located
          examples:
          - United States
          type: string
          x-go-name: Country
          x-order: 30
        currency:
          description: Currency of the fund according to the ISO 4217 standard
          examples:
          - USD
          type: string
          x-go-name: Currency
          x-order: 40
        exchange:
          description: Exchange where the fund is traded
          examples:
          - NYSE
          type: string
          x-go-name: Exchange
          x-order: 50
        mic_code:
          description: Market identifier code (MIC) under ISO 10383 standard
          examples:
          - ARCX
          type: string
          x-go-name: MicCode
          x-order: 60
        type:
          description: Type of the fund
          examples:
          - ETF
          type: string
          x-go-name: Type
          x-order: 70
        figi_code:
          description: Financial instrument global identifier (FIGI)
          examples:
          - BBG00161BCW4
          type: string
          x-go-name: FigiCode
          x-order: 80
        cfi_code:
          description: Classification of Financial Instruments (CFI)
          examples:
          - CECILU
          type: string
          x-go-name: CfiCode
          x-order: 90
        isin:
          description: International securities identification number (ISIN)
          examples:
          - GB00B65TLW28
          type: string
          x-go-name: Isin
          x-order: 100
        cusip:
          description: A unique nine-character alphanumeric code used to identify financial securities, ensuring accurate data retrieval for the specified asset
          examples:
          - 35473P108
          type: string
          x-go-name: Cusip
          x-order: 110
        access:
          $ref: '#/components/schemas/EtfResponseItem_access'
      required:
      - cfi_code
      - country
      - currency
      - cusip
      - exchange
      - figi_code
      - isin
      - mic_code
      - name
      - symbol
      - type
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetFunds_200_response:
      properties:
        result:
          $ref: '#/components/schemas/GetFunds_200_response_result'
        status:
          description: Status of the response
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - result
      - status
      type: object
    GetIntervals_200_response:
      properties:
        data:
          description: List of available intervals
          examples:
          - - 1min
            - 5min
            - 15min
            - 30min
            - 45min
            - 1h
            - 2h
            - 4h
            - 8h
            - 1day
            - 1week
            - 1month
          items:
            type: string
          type: array
          x-go-name: Data
        status:
          description: Status of the response
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - data
      - status
      type: object
    GetExchanges_200_response:
      properties:
        data:
          description: List of exchanges
          items:
            $ref: '#/components/schemas/ExchangesResponseItem'
          type: array
          x-go-name: Data
          x-order: 10
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
          x-order: 20
      required:
      - data
      - status
      type: object
    CryptocurrencyExchangesResponseItem:
      properties:
        name:
          description: Name of cryptocurrency exchange
          examples:
          - Binance
          type: string
          x-go-name: Name
          x-order: 10
      required:
      - name
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetBonds_200_response_result:
      properties:
        count:
          description: Total number of matching instruments
          examples:
          - 6
          format: int64
          type: integer
          x-go-name: Count
        list:
          description: List of bonds
          items:
            $ref: '#/components/schemas/BondResponseItem'
          type: array
          x-go-name: Data
      required:
      - count
      - list
      type: object
      x-go-name: Result
    ApiInternalServerErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 500
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - Internal server error
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiTooManyRequestsErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 429
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - You have run out of API credits for the current minute. 1000 API credits were used, with the current limit being 987. Wait for the next minute or consider upgrading your plan at https://twelvedata.com/pricing
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    ApiParameterTooLongErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 414
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - Input parameter array exceeds the allowed length
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    CrossListingsItem:
      description: Represents details of a cross listing
      properties:
        symbol:
          description: Ticker symbol of instrument
          examples:
          - NVDA
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Name of symbol
          examples:
          - NVIDIA Corp
          type: string
          x-go-name: Name
          x-order: 20
        exchange:
          description: Exchange where instrument is traded
          examples:
          - NASDAQ
          type: string
          x-go-name: Exchange
          x-order: 30
        mic_code:
          description: Market identifier code (MIC) under ISO 10383 standard
          examples:
          - XNGS
          type: string
          x-go-name: MicCode
          x-order: 40
      required:
      - exchange
      - mic_code
      - name
      - symbol
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetCryptocurrencies_200_response:
      properties:
        count:
          description: Count
          examples:
          - 100
          format: int64
          type: integer
          x-go-name: Count
        data:
          description: List of cryptocurrencies
          items:
            $ref: '#/components/schemas/CryptocurrencyResponseItem'
          type: array
          x-go-name: Data
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - count
      - data
      - status
      type: object
    ApiNotFoundErrorResponseBody:
      properties:
        code:
          description: Error code
          examples:
          - 404
          format: int64
          type: integer
          x-go-name: Code
        message:
          description: Error message
          examples:
          - symbol or figi parameter is missing or invalid
          type: string
          x-go-name: Message
        status:
          description: Error status
          examples:
          - error
          type: string
          x-go-name: Status
      required:
      - code
      - message
      - status
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    BondResponseItem:
      description: BondResponseItem represents details of a bond
      properties:
        symbol:
          description: Bond symbol
          examples:
          - US2Y
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Full name of the bond
          examples:
          - US Treasury Yield 2 Years
          type: string
          x-go-name: Name
          x-order: 20
        country:
          description: Country where the bond is located
          examples:
          - United States
          type: string
          x-go-name: Country
          x-order: 30
        currency:
          description: Currency of the bond according to the ISO 4217 standard
          examples:
          - USD
          type: string
          x-go-name: Currency
          x-order: 40
        exchange:
          description: Exchange where the bond is traded
          examples:
          - NYSE
          type: string
          x-go-name: Exchange
          x-order: 50
        mic_code:
          description: Market identifier code (MIC) under ISO 10383 standard
          examples:
          - XNYS
          type: string
          x-go-name: MicCode
          x-order: 60
        type:
          description: Type of the bond
          examples:
          - Bond
          type: string
          x-go-name: Type
          x-order: 70
        access:
          $ref: '#/components/schemas/BondsResponseItemAccess'
      required:
      - country
      - currency
      - exchange
      - mic_code
      - name
      - symbol
      - type
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    StocksResponseItem:
      description: StocksResponseItem represents details of a stock instrument
      properties:
        symbol:
          description: Instrument symbol (ticker)
          examples:
          - AAPL
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Full name of instrument
          examples:
          - Apple Inc
          type: string
          x-go-name: Name
          x-order: 20
        currency:
          description: Currency of the instrument according to the ISO 4217 standard
          examples:
          - USD
          type: string
          x-go-name: Currency
          x-order: 30
        exchange:
          description: Exchange where instrument is traded
          examples:
          - NASDAQ
          type: string
          x-go-name: Exchange
          x-order: 40
        mic_code:
          description: Market identifier code (MIC) under ISO 10383 standard
          examples:
          - XNGS
          type: string
          x-go-name: ExchangeCode
          x-order: 50
        country:
          description: Country where exchange is located
          examples:
          - United States
          type: string
          x-go-name: Country
          x-order: 60
        type:
          description: Common issue type
          examples:
          - Common Stock
          type: string
          x-go-name: Type
          x-order: 70
        figi_code:
          description: Financial instrument global identifier (FIGI)
          examples:
          - BBG000B9Y5X2
          type: string
          x-go-name: FigiCode
          x-order: 80
        cfi_code:
          description: Classification of Financial Instruments (CFI)
          examples:
          - ESVUFR
          type: string
          x-go-name: CfiCode
          x-order: 90
        isin:
          description: International securities identification number (ISIN), available by individual request to support
          examples:
          - US0378331005
          type: string
          x-go-name: Isin
          x-order: 100
        cusip:
          description: A unique nine-character alphanumeric code used to identify financial securities, ensuring accurate data retrieval for the specified asset
          examples:
          - 037833100
          type: string
          x-go-name: Cusip
          x-order: 110
        access:
          $ref: '#/components/schemas/EtfResponseItem_access'
      required:
      - cfi_code
      - country
      - currency
      - cusip
      - exchange
      - figi_code
      - isin
      - mic_code
      - name
      - symbol
      - type
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    CountryResponseItem:
      description: CountryResponseItem represents details of a country
      properties:
        iso2:
          description: Two-letter country code defined in ISO 3166
          examples:
          - US
          type: string
          x-go-name: Iso2
          x-order: 10
        iso3:
          description: Three-letter country code defined in ISO 3166
          examples:
          - USA
          type: string
          x-go-name: Iso3
          x-order: 20
        numeric:
          description: Numeric country code defined in ISO 3166
          examples:
          - '840'
          type: string
          x-go-name: Numeric
          x-order: 30
        name:
          description: The full name of country
          examples:
          - United States
          type: string
          x-go-name: Name
          x-order: 40
        official_name:
          description: Official name of country
          examples:
          - United States of America
          type: string
          x-go-name: OfficialName
          x-order: 50
        capital:
          description: Capital of country
          examples:
          - Washington D.C.
          type: string
          x-go-name: Capital
          x-order: 60
        currency:
          description: Currency of country
          examples:
          - USD
          type: string
          x-go-name: Currency
          x-order: 70
      required:
      - capital
      - currency
      - iso2
      - iso3
      - name
      - numeric
      - official_name
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetForexPairs_200_response:
      properties:
        count:
          description: Count
          examples:
          - 100
          format: int64
          type: integer
          x-go-name: Count
        data:
          description: List of forex pairs
          items:
            $ref: '#/components/schemas/ForexResponseItem'
          type: array
          x-go-name: Data
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - count
      - data
      - status
      type: object
    CryptocurrencyResponseItem:
      description: CryptocurrencyResponseItem represents details of a cryptocurrency
      properties:
        symbol:
          description: Cryptocurrency pair codes with slash(/) delimiter
          examples:
          - BTC/USD
          type: string
          x-go-name: Symbol
          x-order: 10
        available_exchanges:
          description: List of exchanges where the cryptocurrency is available
          examples:
          - - ABCC
            - Allcoin
            - BTC-Alpha
            - BTCTurk
            - Bibox
            - n.exchange
            - p2pb2b
            - xBTCe
          items:
            type: string
          type: array
          x-go-name: AvailableExchanges
          x-order: 20
        currency_base:
          description: Base currency of the cryptocurrency pair
          examples:
          - Bitcoin
          type: string
          x-go-name: CurrencyBase
          x-order: 30
        currency_quote:
          description: Quote currency of the cryptocurrency pair
          examples:
          - US Dollar
          type: string
          x-go-name: CurrencyQuote
          x-order: 40
      required:
      - available_exchanges
      - currency_base
      - currency_quote
      - symbol
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetCryptocurrencyExchanges_200_response:
      properties:
        data:
          description: List of cryptocurrency exchanges
          examples:
          - - name: Binance
            - name: Coinbase Pro
            - name: Kraken
            - name: OKX
          items:
            $ref: '#/components/schemas/CryptocurrencyExchangesResponseItem'
          type: array
          x-go-name: Data
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - data
      - status
      type: object
    EtfResponseItem:
      description: EtfResponseItem represents details of an ETF
      properties:
        symbol:
          description: Instrument symbol (ticker)
          examples:
          - SPY
          type: string
          x-go-name: Symbol
          x-order: 10
        name:
          description: Full name of the ETF
          examples:
          - SPDR S&P 500 ETF Trust
          type: string
          x-go-name: Name
          x-order: 20
        currency:
          description: Currency of the ETF according to the ISO 4217 standard
          examples:
          - USD
          type: string
          x-go-name: Currency
          x-order: 30
        exchange:
          description: Exchange where the ETF is traded
          examples:
          - NYSE
          type: string
          x-go-name: Exchange
          x-order: 40
        mic_code:
          description: Market identifier code (MIC) under ISO 10383 standard
          examples:
          - ARCX
          type: string
          x-go-name: MicCode
          x-order: 50
        country:
          description: Country where the ETF is located
          examples:
          - United States
          type: string
          x-go-name: Country
          x-order: 60
        figi_code:
          description: Financial instrument global identifier (FIGI)
          examples:
          - BBG000BDTF76
          type: string
          x-go-name: FigiCode
          x-order: 70
        cfi_code:
          description: Classification of Financial Instruments (CFI)
          examples:
          - CECILU
          type: string
          x-go-name: CfiCode
          x-order: 80
        isin:
          description: International securities identification number (ISIN)
          examples:
          - US78462F1030
          type: string
          x-go-name: Isin
          x-order: 100
        cusip:
          description: A unique nine-character alphanumeric code used to identify financial securities, ensuring accurate data retrieval for the specified asset
          examples:
          - 037833100
          type: string
          x-go-name: Cusip
          x-order: 110
        access:
          $ref: '#/components/schemas/EtfResponseItem_access'
      required:
      - cfi_code
      - country
      - currency
      - cusip
      - exchange
      - figi_code
      - isin
      - mic_code
      - name
      - symbol
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetTechnicalIndicators_200_response_data_value:
      properties:
        enable:
          description: If the indicator is tested, approved and is recommended for use returns <code>true</code>, otherwise returns <code>false</code>
          examples:
          - true
          type: boolean
          x-go-name: Enable
          x-order: 10
        full_name:
          description: Full indicator name
          examples:
          - Moving Average Convergence Divergence
          type: string
          x-go-name: FullName
          x-order: 20
        description:
          description: Brief description of the indicator
          examples:
          - Moving Average Convergence Divergence(MACD) is ...
          type: string
          x-go-name: Description
          x-order: 30
        type:
          description: Group to which indicator belongs to
          examples:
          - Momentum Indicators
          type: string
          x-go-name: Type
          x-order: 40
        overlay:
          description: If indicator should be plotted over price bars returns <code>true</code>, otherwise returns <code>false</code>
          examples:
          - false
          type: boolean
          x-go-name: Overlay
          x-order: 50
        output_values:
          $ref: '#/components/schemas/TechnicalIndicatorsResponseMacdOutputValues'
        parameters:
          $ref: '#/components/schemas/TechnicalIndicatorsResponseMacdParameters'
        tinting:
          $ref: '#/components/schemas/TechnicalIndicatorsResponseMacdTinting'
      required:
      - description
      - enable
      - full_name
      - overlay
      - type
      type: object
    FormatEnum:
      default: JSON
      enum:
      - JSON
      - CSV
      type: string
      x-go-name: Format
      x-order: '90'
    TechnicalIndicatorsResponseMacdParameter:
      description: 'Input parameter name. Example values: <code>series_type</code>, <code>fast_period</code>, <code>slow_period</code>, <code>time_period</code>, <code>signal_period</code>'
      properties:
        default:
          description: Specifies parameter value set by default
          examples:
          - 12
          format: int64
          type: integer
          x-go-name: Default
        max_range:
          description: If the parameter has upper bound in order to ensure correct calculation
          examples:
          - 1
          format: int64
          type: integer
          x-go-name: MaxRange
        min_range:
          description: If the parameter has lower bound in order to ensure correct calculation
          examples:
          - 1
          format: int64
          type: integer
          x-go-name: MinRange
        range:
          description: An array of available parameter values
          examples:
          - - open
            - high
            - low
            - close
          items:
            type: string
          type: array
          x-go-name: Range
        type:
          description: Type of parameter might be <code>string</code>, <code>int</code>, <code>float</code> or <code>array</code>
          examples:
          - int
          type: string
          x-go-name: Type
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetEtf_200_response:
      properties:
        count:
          description: Count
          examples:
          - 100
          format: int64
          type: integer
          x-go-name: Count
        data:
          description: List of ETFs
          items:
            $ref: '#/components/schemas/EtfResponseItem'
          type: array
          x-go-name: Data
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - count
      - data
      - status
      type: object
    ForexResponseItem:
      description: ForexResponseItem represents details of a forex pair
      properties:
        symbol:
          description: Currency pair according to ISO 4217 standard codes with slash(/) delimiter
          examples:
          - EUR/USD
          type: string
          x-go-name: Symbol
          x-order: 10
        currency_group:
          description: 'Group to which currency pair belongs to, could be: Major, Minor, Exotic and Exotic-Cross'
          examples:
          - Major
          type: string
          x-go-name: CurrencyGroup
          x-order: 20
        currency_base:
          description: Base currency name according to ISO 4217 standard
          examples:
          - EUR
          type: string
          x-go-name: CurrencyBase
          x-order: 30
        currency_quote:
          description: Quote currency name according to ISO 4217 standard
          examples:
          - USD
          type: string
          x-go-name: CurrencyQuote
          x-order: 40
      required:
      - currency_base
      - currency_group
      - currency_quote
      - symbol
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    TechnicalIndicatorsResponseMacdParameters:
      description: An array of input parameters for the indicator
      properties:
        parameter_name:
          $ref: '#/components/schemas/TechnicalIndicatorsResponseMacdParameter'
      type: object
      x-go-package: gitlab.atlasgroup.ai/twelvedata/api/route/description
    GetBonds_200_response:
      properties:
        result:
          $ref: '#/components/schemas/GetBonds_200_response_result'
        status:
          description: Response status
          examples:
          - ok
          type: string
          x-go-name: Status
      required:
      - result
      - status
      type: object
    GetFunds_200_response_result:
      properties:
        count:
          description: Total number of matching instruments
          examples:
          - 84799
          format: int64
          type: integer
          x-go-name: Count
        list:
          description: List of funds
          items:
            $ref: '#/components/schemas/FundResponseItem'
          type: array
          x-go-name: Data
      required:
      - count
      - list
      type: object
      x-go-name: Result
    GetExchangeSchedule_200_response:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExchangeScheduleResponseItem'
          type: array
          x-go-name: Data
          x-order: 10
      required:
      - data
      type: object
    CrossListingsResult:
      description: Represents the result of cross listings
      properties:
[...]
